* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 32px;
    background-color: rgb(255, 255, 233);
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    justify-content: center;
    transition: color 0.3s ease;

}

header{
    display: flex;
    justify-content: left;
    align-items: end;
    height: 150px;
    padding: 16px 0;
    margin-bottom: 8px;
    gap: 16px;
}

h1 {
    font-size: 2.5em;
    font-weight: 800;
    padding-bottom: 0.2em;
}

.profession {
    opacity: 0.5;
}

.chips {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.avatar {
    height: inherit;;
    border-radius: 15%;
}

.icon {
    width: 18px;
    height: 18px;

}

.iconbox {
    display: flex;
    height: 24px;
    width: 24px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);

}

.chip {
    display: flex;
    align-items: center;
    background-color: rgb(200, 200, 200);
    border-radius: 0.7em;
    width: fit-content;
    height: fit-content;
    font-size: 0.8em;
    padding: 8px 10px;
    gap: 8px;
    font-size: 16px;

}

.chip > p {
    display: flex;
    font-weight: 500;
    white-space: nowrap;
    height: 24px;
    align-items: center;
}

.topic {
    width: fit-content;
    margin-top: 30px;
}

.topic p {
    text-transform: uppercase;
    font-weight: 800;
    font-size: large;
}

.underline {
    margin: 5px 8px;
    box-sizing: border-box;
    border: 2px solid rgb(187, 187, 187);
    border-radius: 2px;
}

section + section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 5px;
}

pre {
    background: #f4f4f4;
    padding: 15px;
    border-radius: 16px;
    overflow-x: auto;
}

code {
    color: #470011;
    background: #f9f2f4;
    padding: 2px 4px;
    border-radius: 16px;
}

iframe {
    height: 500px;
    border: none;
    border-radius: 16px;
}